body {
	color: #333;
	background-color: #fff;
	min-height: 100%;
	margin: 10% auto;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	flex: 1;
	width: 80%;
	text-align: center;
}

a {
	text-decoration: none;
}

nav li {
	display: inline-block;
}

ul {
	display: inline-block;	
	list-style-type: none;
	text-align: left;
}

img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

footer {
	display: inline-block;
}

footer ul {
	display: flex;
}

footer img {
	width: 50px;
	height: 50px;
}